Thumbs.db
/.env
/docker-compose.override.yml
/.app_is_ready
/certs/
/messages.mo
/node_modules
/locale/**/*.po~
/plugins.local/*
!/plugins.local/*/
!/plugins.local/PLUGINS-DOKUMENTATION.md
/themes.local/*
/templates.local/*
/config.php
/feed-icons/*
/cache/*/*
/lock/*
/.vscode/settings.json
/vendor/**/.git
/.phpunit.cache
/.phpstan-tmp
/.rector-tmp
/.tools/
